.resultsCount{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    .count{
        font-weight: 600;
        font-size: 15px;
        span{
            color:gray;
            font-weight: 400;
            font-size: 14px;
        }
    }
    .sortBy{
        
        
        font-size: 15px;
        font-weight: 600;
        display: flex;
        gap:10px;
        align-items: center;
    }

    @media (max-width:715px) {
        flex-direction: column;
        gap: 10px;
    }
}
.customSelect{
    width: 200px;
}