.addNewAddress{
    background: #fff;
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    max-width: 670px;
    h3{
        margin-bottom: 20px;
    }
    .buttons{
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
}
