.profile {
  padding: 20px;
  //   background-color: #fff;
}
.profileCard {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
}
.nameBox {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.inputGroup {
  margin-bottom: 10px;
  label {
    display: block;
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 500;
    font-family: "Readex Pro", sans-serif;
    color: #6e6e6e;
  }
  input {
    width: 100%;
    border: 1px solid #eee;
    padding: 8px 5px;
    border-radius: 2px;

    &:focus {
      outline: none;
    }
  }
}
.saveBtn {
  font-size: 12px;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: #515151;
  background-color: #ebe9eb;
  border: 0;
  margin-top: 10px;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  &:hover {
    color: #515151;
    background-color: #dfdcde;
  }
}
