@import "../../styles/mixins.scss";
.orderSuccess {
  @include container;
  .wrapper {
    margin: 0 auto;
    text-align: center;
    h2 {
      font-size: 25px;
      margin: 40px 0;
      color: #212b36;
    }
    img {
      width: 400px;
      margin-bottom: 20px;
    }
    .thankYouNote {
      color: rgb(99, 115, 129);
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 15px;
      text-align: left;
      span {
        color: rgb(120, 163, 18);
        font-weight: 600;
      }
    }
    .continueShopping {
      border-top: 1px solid #eee;
      padding: 20px;
      display: block;
      margin: 0 auto;
      max-width: 500px;
      button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        outline: 0px;
        border: 0px;
        margin: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        text-decoration: none;
        font-weight: 700;
        line-height: 1.71429;
        font-size: 0.875rem;
        text-transform: capitalize;
        font-family: "Public Sans", sans-serif;
        min-width: 64px;
        padding: 6px 16px;
        border-radius: 8px;
        background-color: rgb(0, 171, 85);
        color: #fff;
        transition: all ease .3s;
        &:hover{
            box-shadow: rgb(0 171 85 / 24%) 0px 8px 16px 0px;

        }
      }
    }
  }
}
