@import "../../styles/mixins.scss";

.checkout {
  @include container;
  .order {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-row-gap: 20px;
    align-items: flex-start;
    column-gap: 20px;
    padding-bottom: 50px;
  }
  @media (max-width:768px) {
    .order{
      grid-template-columns: 1fr;
    } 
    
  }
}
